# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle.properties
generated
.idea
generated2
javagenerated
typescriptgenerated
car-module-openapi
order-module.openapi
node_modules
package-lock.json